[env]
BACKEND_URL_LOCAL = ""
BACKEND_URL_DEV = ""
BACKEND_URL_STAGE = ""
BACKEND_URL_PROD = ""

LSP_URL_LOCAL = ""
LSP_URL_DEV = ""
LSP_URL_STAGE = ""
LSP_URL_PROD = ""

LSP_TOKEN_LOCAL = ""
LSP_TOKEN_DEV = ""
LSP_TOKEN_STAGE = ""
LSP_TOKEN_PROD = ""

ESPLORA_URL_LOCAL = ""
ESPLORA_URL_DEV = ""
ESPLORA_URL_STAGE = ""
ESPLORA_URL_PROD = ""

RGS_URL_LOCAL = ""
RGS_URL_DEV = ""
RGS_URL_STAGE = ""
RGS_URL_PROD = ""

POCKET_URL_LOCAL = ""
POCKET_URL_DEV = ""
POCKET_URL_STAGE = ""
POCKET_URL_PROD = ""
