[env]
BACKEND_URL_LOCAL = ""
BACKEND_URL_DEV = ""
BACKEND_URL_STAGE = ""
BACKEND_URL_PROD = ""

LSP_URL_LOCAL = "http://127.0.0.1:6666"
LSP_URL_DEV = ""
LSP_URL_STAGE = ""
LSP_URL_PROD = ""

LSP_TOKEN_LOCAL = "iQUvOsdk4ognKshZB/CKN2vScksLhW8i13vTO+8SPvcyWJ+fHi8OLgUEvW1N3k2l"
LSP_TOKEN_DEV = ""
LSP_TOKEN_STAGE = ""
LSP_TOKEN_PROD = ""

ESPLORA_URL_LOCAL = "http://localhost:30000"
ESPLORA_URL_DEV = "https://blockstream.info/testnet/api"
ESPLORA_URL_STAGE = "https://blockstream.info/api"
ESPLORA_URL_PROD = "https://blockstream.info/api"

RGS_URL_LOCAL = "http://localhost:8080/snapshot/"
RGS_URL_DEV = ""
RGS_URL_STAGE = ""
RGS_URL_PROD = ""
