[env]
GITHUB_REF = "local_build"

BACKEND_COMPLETE_URL_LOCAL = ""
BACKEND_COMPLETE_URL_DEV = ""
BACKEND_COMPLETE_URL_STAGE = ""
BACKEND_COMPLETE_URL_PROD = ""

NOTIFICATION_WEBHOOK_URL_LOCAL = ""
NOTIFICATION_WEBHOOK_URL_DEV = ""
NOTIFICATION_WEBHOOK_URL_STAGE = ""
NOTIFICATION_WEBHOOK_URL_PROD = ""

NOTIFICATION_WEBHOOK_SECRET_LOCAL = ""
NOTIFICATION_WEBHOOK_SECRET_DEV = ""
NOTIFICATION_WEBHOOK_SECRET_STAGE = ""
NOTIFICATION_WEBHOOK_SECRET_PROD = ""

POCKET_URL_LOCAL = ""
POCKET_URL_DEV = ""
POCKET_URL_STAGE = ""
POCKET_URL_PROD = ""

LIPA_LIGHTNING_DOMAIN_LOCAL = ""
LIPA_LIGHTNING_DOMAIN_DEV = ""
LIPA_LIGHTNING_DOMAIN_STAGE = ""
LIPA_LIGHTNING_DOMAIN_PROD = ""

BREEZ_SDK_API_KEY = ""
BREEZ_SDK_PARTNER_CERTIFICATE = ""
BREEZ_SDK_PARTNER_KEY = ""

BREEZ_SDK_MNEMONIC_EMPTY = ""
BREEZ_SDK_MNEMONIC_FUNDED_SENDER = ""
BREEZ_SDK_MNEMONIC_FUNDED_RECEIVER = ""
