[env]
BACKEND_URL_LOCAL = ""
BACKEND_URL_DEV = ""
BACKEND_URL_STAGE = ""
BACKEND_URL_PROD = ""

POCKET_URL_LOCAL = ""
POCKET_URL_DEV = ""
POCKET_URL_STAGE = ""
POCKET_URL_PROD = ""

BREEZ_SDK_API_KEY = ""
BREEZ_SDK_PARTNER_CERTIFICATE = ""
BREEZ_SDK_PARTNER_KEY = ""

BREEZ_SDK_MNEMONIC = ""
