{% extends "base" %}
{% import "macros" as macros %}

{% block invoice %}{% endblock invoice %}

{% block body %}

{% if error %}

  {{ macros::open_card(title="💥 Error") }}
    {{ error }}
  {{ macros::close_card() }}

{% else %}

  {{ macros::open_card(title="Voucher") }}
    <strong>{{ preimage }}</strong><br/>
    for <b>{{ voucher.amount_sats }}</b> sats<br/>
    with hash <code>{{ voucher.hash }}</code>
  {{ macros::close_card() }}

{% endif %}

<br/>
<div><a href="/">← back</a></div>

{% endblock body %}
