{% extends "base" %}
{% import "macros" as macros %}

{% block invoice %}{% endblock invoice %}

{% block body %}

{% if error %}

  {{ macros::open_card(title="💥 Error") }}
    {{ error }}
  {{ macros::close_card() }}

{% else %}

  {{ macros::open_card(title="Voucher") }}
    <strong>{{ preimage }}</strong><br/>
    for <b>{{ voucher.amount_sats }}</b> sats<br/>
	{% if voucher.seal_required %}
      <strong>Passcode will be required</strong><br/>
	{& endif %}
      with hash <code>{{ voucher.hash }}</code>

    <div id="qrcode"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "{{ lnurl }}",
            width: 128,
            height: 128,
        });
    </script>
	
  {{ macros::close_card() }}

{% endif %}

<br/>
<div><a href="/">← back</a></div>

{% endblock body %}
