{% extends "base" %}
{% import "macros" as macros %}

{% block invoice %}{% endblock invoice %}

{% block body %}

{% if error %}

  {{ macros::open_card(title="💥 Error") }}
    {{ error }}
  {{ macros::close_card() }}

{% else %}

  {{ macros::open_card(title="Voucher") }}
    <div>{{ preimage }}</div>
    for <b>{{ voucher.amount_sats }}</b> sats<br/>
	{% if voucher.seal_required %}
      <div><strong style="color: yellow;">Passcode will be required</strong></div>
	{% endif %}
      with hash <code>{{ voucher.hash }}</code>

	  {% if valid %}
    <div id="qrcode"></div>
	  {% else %}
      <div><strong style="color: red;">Voucher has been canceled or redeemed</strong></div>
	  {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script>
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            text: "{{ lnurl }}",
            width: 512,
            height: 512,
        });
    </script>
	
  {{ macros::close_card() }}

{% endif %}

<br/>
<div><a href="/">← back</a></div>

{% endblock body %}
